<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <connectionStrings>
    <add name="crmConnString" connectionString="Server=54.83.5.151;port=5432;User Id=rtnoqcudsmmzix; Password=oFsT_hJYHMEOixUFmkNd1s8WjH;Database=ddj9lord8731rh;Protocol=3;SSL=true;SslMode=Require;"/>
  </connectionStrings>

<appSettings>
  <add key="languageCode" value="ro-RO"/>
  <add key="messages_file_root" value="E:\activator-1.2.10\crm\guarded-brook-8223\conf\"/> 
  
</appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_LanguageService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.microsofttranslator.com/V2/soap.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService"
        contract="TranslationService.LanguageService" name="BasicHttpBinding_LanguageService" />
    </client>
  </system.serviceModel>
</configuration>
